.wrapper {
    margin-top: 50px; 
    grid-area: carteira;
}

.boxes-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.bold {
    font-weight: bold;
    color: black;
}
@media screen and (max-width: 1200px) {
    .wrapper {
        margin-top: 50px;
    }
}