.wrapper {
    margin-top: 50px; 
    grid-area: carteira;
    position: relative;
}

.boxes-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
}
.bold {
    font-weight: bold;
    color: black;
}
.chevron {
    position: absolute;
    top: calc(50% + 2px);
    right: 10px;
    transform: translate(10px, -50%);
    margin: 0 10px;
    cursor: pointer;
    transition: opacity .4s ease;
}
.chevron:hover {
    opacity: .6;
}
.chevron.left {
    position: absolute;
    top: calc(50% + 2px);
    left: -10px;
    transform: translate(10px, -50%) rotate(-180deg);
}
@media screen and (max-width: 1200px) {
    .wrapper {
        margin-top: 50px;
    }
}