.wrapper {
    position: relative;
}
.selectorWrapper {
    position: absolute;
    top: -23px;
    right: -80px;
    background: white;
    /* border-radius: 10px; */
    border: 1px solid #d9d9d9;
    padding: 15px 25px;
    display: none;
    z-index: 9999;
    width: 300px;
    height: 692px;
    overflow: auto;
}
.selectorWrapper.open {
    display: block;
}

.filterObj {
    min-height: 101px;
    height: 200px;
    display: block;
    margin-top: 20px;
}