.Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}
.Header > div {
    flex: 1;
    padding: 15px;
    background: rgb(224, 224, 224);
    text-align: center;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.Header p {
    padding: 0px 10px 0px 10px;
}

.kpiRow {
    flex-direction: row;
    padding: 10px;
    align-items: center;
    display: flex;
}

.kpi {
    font-size: 18px;
    font-weight: bold;
}

.kpiRow p {
    text-align: left;
}