.Header {
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.Header > nav {
    display: flex;
    align-items: center;
}
.Header > nav > ul {
    display: flex;
    gap:15px;
    margin-left: 20px;
}
.Header > nav > ul > li {
    position: relative;
}
@media screen and (max-width: 945px) {
    .Header > nav > ul {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .Header {
        padding: 0 20px;
    }
}
