.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}
.imagem {
    width: 23px;
}
.title {
    font-family: montserrat-light;
    font-size: 11px;
    font-weight: 600;
}
.date {
    font-family: montserrat-light;
    font-size: 11px;
}