.wrapper {
    grid-area: agenda;
    margin-left: 40px;
    justify-self: flex-end;
    width: 430px;
    position: relative;
}
.agenda-items-wrapper {
    max-height: 200px;
    overflow-y: auto;
    margin: 10px 0;
   
}
.button {
    text-align: right;
}
@media screen and (max-width: 1200px) {
    .wrapper {
        margin-left: 0;
        justify-self: flex-start;
        width: 100%;
    }
}