.wrapper {
    display: grid;
    grid-template-areas: 
                    "title title title agenda  "
                    "carteira carteira carteira agenda  "
                    "pipeline pipeline pipeline agenda  "
                    "pipeline pipeline pipeline agenda  "
                    "pipeline pipeline pipeline agenda  "
                    "pipeline pipeline pipeline agenda  ";
}
.title-wrapper {
    grid-area: title;
}
.title-wrapper > h5 > span {
    color: #C20707;
    font-size: 24px;
}


@media screen and (max-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-areas: 
                        "title "
                        "carteira "
                        "pipeline "
                        "agenda";
    }
}
