.wrapper {
    width: auto;
    height: auto;
    /* padding: 0 10px 10px 10px; */
    box-shadow: 4px 4px 14px rgba(0,0,0, .3);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all .4s;
}
.wrapper.selected {
    transform: translateY(-5px);
}
.wrapper:hover {
    opacity: .8;
}
.wrapper::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--green);
    transition: width .3s ease;
}
.wrapper.selected::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--green);
}
.wrapper > svg {
    position: absolute;
    right: -3px;
    top: -3px;
    cursor: pointer;
}
.wrapper p {
    font-size: 9px;
    color: var(--light-text-color);
    white-space: nowrap;
    margin-top: 3px;
}
.header {
    background: var(--blue);
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.header > p {
    font-family: montserrat-bold !important;
    color: white;
    font-size: 8px;
    display: inline-block;
    vertical-align: text-top;
}
.check {
    position: absolute;
    right:5px;
}
.titles {
    font-family: montserrat-bold;
    font-size: 9px;
    color: var(--blue);
}
.tipoUser {
    position: absolute;
    right: 5px;
    bottom:3px;
    margin-top: 10px;
    color: var(--red) !important;
    font-weight: bold;
}
.content {
    padding: 5px 10px 10px 10px;
}
