.wrapper {
     margin-top: 25px; 
    grid-area: pipeline;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1085px) {
    .chartdiv {
        width: 100% !important;
    }
}