.wrapper {
    height: auto;
    background: var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}
@media(max-width:950px) {
    .wrapper {
        flex-wrap: wrap;
    }
}