@font-face {
  font-family: "montserrat-light";
  src: url(./assets/fonts/Montserrat-Light.woff2) format("woff2");
}
@font-face {
  font-family: "montserrat-regular";
  src: url(./assets/fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "montserrat-medium";
  src: url(./assets/fonts/Montserrat-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "montserrat-bold";
  src: url(./assets/fonts/Montserrat-SemiBold.woff2) format("woff2");
}

/*scrollbar for chrome*/
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #474555;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #474555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat-regular";
  color: #363636;
}
a {
  text-decoration: none;
  color: #363636;
}
h1,h2,h3,h4,h5 {
  font-family: montserrat-bold;
}
h5 {
  font-size: 15px;
  text-transform: uppercase;
}
.subtitle {
  font-size: 11px;
  color: #828282;
}
/* Chart styles */
#chartdiv {
    width: 60%;
    height: 284px;
    flex: 1 1 350px;
}
g[aria-labelledby="id-66-title"] {
    display: none;
}
tspan {
    font-size: 9px;
    font-weight: bold;
}
.App {
  position: relative;
}

.rec-item-wrapper {
  padding: 10px !important;
}