@font-face {
  font-family: "montserrat-light";
  src: url(./assets/fonts/Montserrat-Light.woff2) format("woff2");
}
@font-face {
  font-family: "montserrat-regular";
  src: url(./assets/fonts/Montserrat-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "montserrat-medium";
  src: url(./assets/fonts/Montserrat-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "montserrat-bold";
  src: url(./assets/fonts/Montserrat-SemiBold.woff2) format("woff2");
}

:root {
  --text-color: #363636;
  --light-text-color: #828282;
  --blue: #485461;
  --light-blue: #f2f4f9;
  --red: #c20707;
  --green: #10800c;
  --dark-purple: #a612ba;
  --light-purple: #d53fe6;

}

/* ::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #474555;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #474555;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: montserrat-regular !important;
  color: var(--text-color);
}
p {
  font-family: montserrat-regular !important;
  color: var(--light-text-color);
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #363636;
}
h1,h2,h3,h4,h5 {
  font-family: montserrat-bold;
}
h5 {
  font-size: 15px;
  text-transform: uppercase;
}
.subtitle {
  font-size: 11px;
  color: #828282;
}
/* Chart styles */
#chartdiv {
    width: 60%;
    height: 284px;
    flex: 1 1 350px;
}
label {
  font-family: montserrat-regular !important;
}
tspan {
    font-size: 9px;
    font-weight: bold;
}
.App {
  position: relative;
}

/* .rec-item-wrapper {
  padding: 10px !important;
} */
.apexcharts-menu-item {
  font-size: 11px !important;
}
.apexcharts-legend-text {
  font-size: 9px !important;
}
.InovuaReactDataGrid__cell {
  font-family: montserrat-regular !important;
  font-size: 10px !important;
}
.InovuaReactDataGrid__column-header__content {
  font-family: montserrat-regular !important;
  font-size: 11px !important;
  /* color:var(--text-color); */
  
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__header-group__title {
  font-family: montserrat-bold !important;
  font-size: 12px !important;
  color:var(--text-color);
}
.InovuaReactDataGrid {
  margin-top: 30px;
  color: var(--text-color);
}
.inovua-react-toolkit-checkbox__icon-wrapper {
  fill: #485461 !important;
}
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__row--odd.InovuaReactDataGrid__row--selected {
  background: rgb(235, 235, 235) !important;
  outline: none !important;
  border: none !important;
}
.inovua-react-scroll-container__scroller, .inovua-react-toolkit-combo-box__value__display-value {
  font-size: 11px !important;
  font-weight: bold;
}
.InovuaReactDataGrid__column-header {
  align-items: flex-end !important;
}
.InovuaReactDataGrid__column-header__menu-tool {
  align-items: flex-end !important;
  top: -10px !important;
}
.inovua-react-pagination-toolbar__per-page-text, .inovua-react-pagination-toolbar__region {
  font-family: montserrat-regular !important;
}
.inovua-react-toolkit-checkbox.inovua-react-toolkit-checkbox--theme-default-light.inovua-react-toolkit-checkbox--indeterminate .inovua-react-toolkit-checkbox__icon-wrapper svg {
  background: var(--blue) !important;
}
/* .inovua-react-toolkit-checkbox.inovua-react-toolkit-checkbox--theme-default-light.inovua-react-toolkit-checkbox--indeterminate .inovua-react-toolkit-checkbox__icon-wrapper svg rect{
  fill: white !important;
} */
.rec-item-wrapper {
  width: auto !important;
  /* padding: 10px 10px !important; */
}
/* .rec-carousel-item:nth-child(1) > .rec-item-wrapper {
  padding: 10px 10px 10px 0 !important;
} */
.rec-slider-container {
  margin: 0 !important;
} 