.Button {
    /* background: #c20707; */
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    transition: opacity .5s ease;
    font-size: 11px;
    font-family: montserrat-medium;
}
.Button:hover {
    opacity: .6;
}

