.selectorLine {
    display: flex;
    align-items: center;
    gap: 20px;
}
.selectorLine:not(:nth-child(1)) {
    margin-top: 7px;
}
.selectorLine input {
    display: none;
}
.text {
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    transition: opacity .3s ease;
}
.text:hover {
    opacity: .6;
}