.tab-content {
    opacity: 1;
    max-width: 1440px;
    margin: 0 auto;
}
.tab-content.active {
    opacity: 1;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card-header > p {
    font-size: 12px;
    font-family: montserrat-regular;
    font-style: italic;
}
